<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:hpcache="http://www.handpay.com.cn/schema/cache"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
			http://www.handpay.com.cn/schema/cache http://www.handpay.com.cn/schema/cache/handpay-cache.xsd">


	<!-- =========================================================================== -->
	<!-- appcode 需要到 cache-monitor 的“业务应用管理” = “业务应用配置”中进行配置 -->
	<!-- 开发及测试环境，建议配置成 <业务应用标识>@<环境编号>，比如：sms@dev02、sms@test09 -->
	<!-- 生产及预发环境直接配置 <业务应用标识>，比如：sms -->
	<!-- 开发环境地址：http://10.48.193.202:8080/cache-monitor -->
	<!-- 测试环境地址：http://10.48.193.12:48080/cache-monitor -->
	<!-- 生产/预发布：http://redismonitor/cache-monitor -->
	<!-- =========================================================================== -->
	<hpcache:cache-executor appcode="${cache.client.appcode}" id="cardTopup">
		<hpcache:server-address>
			<!-- =========================================================================== -->
			<!-- 开发环境地址：http://10.48.193.202:8080/cache-monitor/ws/cache-server.htm -->
			<!-- 测试环境地址：http://10.48.193.12:48080/cache-monitor/ws/cache-server.htm -->
			<!-- 生产/预发布： http://redismonitor/cache-monitor/ws/cache-server.htm -->
			<!-- =========================================================================== -->
			<hpcache:http endpoint="${cache.server.locator.endpoint}" />
		</hpcache:server-address>

		<hpcache:server>
			<!-- ===================================================== -->
			<!-- DEFAULT -->
			<!-- PROPERTY NAME VALUE -->
			<!-- ..................................................... -->
			<!-- jedis.config.database 0 -->
			<!-- jedis.config.timeout 5000 -->
			<!-- jedis.config.usePool true -->
			<!-- jedis.pool.maxActive 20 -->
			<!-- jedis.pool.maxIdle 5 -->
			<!-- jedis.pool.maxWait -1 -->
			<!-- jedis.pool.minEvictableIdleTimeMillis 60000 -->
			<!-- jedis.pool.minIdle 0 -->
			<!-- jedis.pool.numTestsPerEvictionRun -1 -->
			<!-- jedis.pool.softMinEvictableIdleTimeMillis -1 -->
			<!-- jedis.pool.testOnBorrow false -->
			<!-- jedis.pool.testOnReturn false -->
			<!-- jedis.pool.testWhileIdle true -->
			<!-- jedis.pool.timeBetweenEvictionRunsMillis 30000 -->
			<!-- jedis.pool.whenExhaustedAction 1 -->
			<!-- ===================================================== -->
			<props>
				<prop key="jedis.config.timeout">5000</prop>
				<prop key="jedis.pool.maxActive">${jedis.pool.maxActive}</prop>
				<prop key="jedis.pool.maxIdle">${jedis.pool.maxIdle}</prop>
			</props>
		</hpcache:server>
	</hpcache:cache-executor>

</beans>
