<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.handpay.obm.cardtopup.mapper.TopupOrderMapper">

	<resultMap id="BaseResultMap" type="com.handpay.obm.cardtopup.domain.TopupOrder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_time" property="orderTime" jdbcType="VARCHAR" />
		<result column="biz_order_id" property="bizOrderId" jdbcType="VARCHAR" />
		<result column="biz_order_time" property="bizOrderTime" jdbcType="VARCHAR" />
		<result column="topup_amount" property="topupAmount" jdbcType="INTEGER" />
		<result column="topup_type" property="topupType" jdbcType="VARCHAR" />
		<result column="topup_account" property="topupAccount" jdbcType="VARCHAR" />
		<result column="tstatus" property="tstatus" jdbcType="VARCHAR" />
		<result column="tstep" property="tstep" jdbcType="INTEGER" />
		<result column="ctime" property="ctime" jdbcType="VARCHAR" />
		<result column="rech_unit_id" property="rechUnitId" jdbcType="VARCHAR" />
		<result column="start_ttime" property="startTtime" jdbcType="VARCHAR" />
		<result column="finish_ttime" property="finishTtime" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,
		order_time,
		biz_order_id,
		biz_order_time,
		topup_amount,
		topup_type,
		topup_account,
		tstatus,
		tstep,
		ctime,
		rech_unit_id,
		start_ttime,
		finish_ttime,
		remark
	</sql>

	<select id="getIdSeq" resultType="java.lang.Integer"> select seq_topup_order.nextval from dual </select>

	<select id="selectByBizOrder" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from topup_order
		where biz_order_id = #{bizOrderId} and biz_order_time = #{bizOrderTime}
	</select>

	<insert id="insert" parameterType="com.handpay.obm.cardtopup.domain.TopupOrder">
		insert into topup_order (
		id,
		order_time,
		biz_order_id,
		biz_order_time,
		topup_amount,
		topup_type,
		topup_account,
		tstatus,
		tstep
		)
		values (
		#{id,jdbcType=INTEGER},
		#{orderTime,jdbcType=VARCHAR},
		#{bizOrderId,jdbcType=VARCHAR},
		#{bizOrderTime,jdbcType=VARCHAR},
		#{topupAmount,jdbcType=INTEGER},
		#{topupType,jdbcType=VARCHAR},
		#{topupAccount,jdbcType=VARCHAR},
		#{tstatus,jdbcType=VARCHAR},
		#{tstep,jdbcType=VARCHAR}
		)
	</insert>

	<update id="updateById" parameterType="com.handpay.obm.cardtopup.domain.TopupOrder">
		update topup_order
		<set>
			<if test="tstatus != null">
				tstatus = #{tstatus,jdbcType=VARCHAR},
			</if>
			<if test="tstep != null">
				tstep = #{tstep,jdbcType=VARCHAR},
			</if>
			<if test="ctime != null">
				ctime = #{ctime,jdbcType=VARCHAR},
			</if>
			<if test="rechUnitId != null">
				rech_unit_id = #{rechUnitId,jdbcType=VARCHAR},
			</if>
			<if test="startTtime != null">
				start_ttime = #{startTtime,jdbcType=VARCHAR},
			</if>
			<if test="finishTtime != null">
				finish_ttime = #{finishTtime,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>